{{>mainHeader username=username}}
<div class="min-h-screen flex items-center flex-col pt-4 overflow-auto">
    <div class="w-full md:w-[30%] bg-white border border-vibes-light-green rounded-md shadow-2xl flex flex-col pt-2 px-7 pb-4 mb-4 md:mb-0">
        <input type="text" id="userTitle" placeholder="What's the vibe?"
            class="mt-1 p-2 block w-full border border-vibes-light-green rounded-md bg-gray-100">
        <input type="text" id="userInput" placeholder="Spill the tea"
            class="mt-1 p-2 block w-full border border-vibes-light-green rounded-md bg-gray-100 pb-14">
        <button id="post-button"
            class="px-4 py-2 mt-3 border bg-vibes-light-green rounded-md w-full md:w-1/4 text-white hover:bg-vibes-medium-green focus:bg-vibes-dark-green"
            onclick="createPost()">Post</button>
    </div>
    <div id="posts-container" class="flex flex-col w-full md:w-1/2 items-center gap-2 shadow-lg overflow-auto">
        {{#each posts as |post|}}
        <div class="bg-white shadow-md p-6 border border-1 border-vibes-medium-green w-full rounded-md">
            <div id="postAuthor" class="text-blue-600 italic cursor-pointer hover:text-blue-500">
                <a href="/profile/{{user.username}}"> @{{user.username}}</a>
            </div>
            <div class="border-2 border-vibes-medium-green rounded-md p-3">
                <div id="title" class="text-lg font-bold">
                    {{title}}
                </div>
                <div id="content">
                    {{content}}
                </div>
            </div>
            <div class="flex justify-between items-center mt-1">
                <div class="flex items-center w-1/2 gap-4">
                    <i class="fa-regular fa-heart cursor-pointer text-vibes-medium-green text-2xl"></i>
                    <button onclick="submitComment()">
                        <i class="fa-regular fa-comment cursor-pointer text-vibes-medium-green text-2xl"></i>
                    </button>
                    <i class="fa-regular fa-share-from-square text-vibes-medium-green text-2xl"></i>
                </div>
                <div class="displayDateBox flex justify-end w-1/2">
                    {{created_at}}
                </div>
                <input id="comment" data-postId="{{id}}" type="text" />
            </div>
            {{#each post.comments as |comment|}}
            <!-- Display comments here -->
            {{/each}}
        </div>
        {{/each}}
    </div>
</div>

 
